/* Overwrites React Toastify colors to match Material UI's palette */
.Toastify__toast-container {
  z-index: 99999 !important;
}

.Toastify__toast--info {
  background: #2196f3 !important;
}

.Toastify__toast--success {
  background: #4caf50 !important;
}

.Toastify__toast--warning {
  background: #ff9800 !important;
}

.Toastify__toast--error {
  background: #f44336 !important;
}

/* Overwrites NProgress bar styles */
#nprogress .bar {
  background: #fff !important;
  z-index: 99999 !important;
}

/* Overwrite Mui-Dropzone Styles */
.MuiDropzoneArea-root {
  min-height: 6.5rem !important;
  margin-bottom: 1rem !important;
  color: #424242 !important;
  background-color: inherit !important;
  border-color: #bdbdbd !important;
  border-width: 2px !important;
  border-radius: 0 !important;
  transition: all 0.2s ease !important;
}

.MuiDropzoneArea-root:focus {
  outline: none;
}

.MuiDropzoneArea-root:hover {
  border-color: #424242 !important;
}

.MuiTypography-h5 {
  font-size: 1rem !important;
  margin: 1rem 0 !important;
}

.MuiDropzoneArea-icon {
  color: #424242 !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.MuiDropzonePreviewList-removeButton {
  top: 5px !important;
  right: 35px !important;
  width: 35px !important;
  height: 35px !important;
}
