/* Styles for nprogress */

html {
  --progress-color: #fff;
}

#nprogress .bar {
  background: var(--progress-color);
  z-index: 99999 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--progress-color), 0 0 5px var(--progress-color);
}

#nprogress .spinner-icon {
  border-top-color: var(--progress-color);
  border-left-color: var(--progress-color);
}
